name: Fix PHP Code Style Issues

on:
  push:
    paths:
      - '**.php'

jobs:
  php-code-styling:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        # ref satırını sildik, artık otomatik algılayacak

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: json, dom, curl, libxml, mbstring
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/pint" --dev --no-interaction --no-update
          composer update --prefer-stable --prefer-dist --no-interaction

      - name: Run Pint
        run: ./vendor/bin/pint

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Fix: Auto-format code with Pint"